@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.transition-transform {
    transition-property: transform;
}

.scale-150 {
    transform: scale(1.5);
}

h1{
    font-family: 'Satisfy', cursive;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in.visible {
    opacity: 1;
  }

